APP_ENV=local
APP_DEBUG=true
APP_NAME="ERP Clinic Stock"
APP_URL=http://localhost:8080

DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=erp
DB_USERNAME=erp
DB_PASSWORD=erp

REDIS_HOST=redis
REDIS_PORT=6379
